<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLi_CuaHangThachCao.Properties.Settings.dbCuaHang_ThachCaoConnectionString"
            connectionString="Data Source=TRANTIEN\SQLEXPRESS;Initial Catalog=dbCuaHang_ThachCao;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>